In [ ]:
a = 2
b = 1

equacao = input("Digite a fórmula geral da equação linear (a * x + b): ")
print(f"\nA entrada do usuário {equacao} é do tipo {type(equacao)}")

for x in range(5):
    y = eval(equacao)
    print(f"\nResultado da equação para x = {x} é {y}")

Digite a fórmula geral da equação linear (a * x + b): a*x+b

A entrada do usuário a*x+b é do tipo <class 'str'>

Resultado da equação para x = 0 é 1

Resultado da equação para x = 1 é 3

Resultado da equação para x = 2 é 5

Resultado da equação para x = 3 é 7

Resultado da equação para x = 4 é 9

In [ ]:
def imprimir_mensagem(disciplina, curso):
    print(f"Minha primeira função em Python desenvolvida na disciplina: {disciplina}, do curso: {curso}.")  
imprimir_mensagem("Python", "ADS")

Minha primeira função em Python desenvolvida na disciplina: Python, do curso: ADS.

In [ ]:
def imprimir_mensagem(disciplina, curso):
    print(f"Minha primeira função em Python desenvolvida na disciplina: {disciplina}, do curso: {curso}.")
resultado = imprimir_mensagem("Python", "ADS")
print(f"Resultado = {resultado}")

Minha primeira função em Python desenvolvida na disciplina: Python, do curso: ADS.
Resultado = None

In [ ]:
def imprimir_mensagem(disciplina, curso):
    return f"Minha primeira função em Python desenvolvida na disciplina: {disciplina}, do curso: {curso}."
mensagem = imprimir_mensagem("Python", "ADS")
print(mensagem)

Minha primeira função em Python desenvolvida na disciplina: Python, do curso: ADS.

In [ ]:
def converter_mes_para_extenso(data):
    mes = '''janeiro fevereiro março
      abril maio junho julho agosto
      setembro outubro novembro
      dezembro'''.split()
    d, m, a = data.split('/')
    mes_extenso = mes[int(m) - 1] # O mês 1, estará na posição 0!
    return f'{d} de {mes_extenso} de {a}'
print(converter_mes_para_extenso('10/05/2021'))

10 de maio de 2021

In [ ]:
def calcular_desconto(valor, desconto=0): # O parâmetro desconto possui zero valor default
    valor_com_desconto = valor - (valor * desconto)
    return valor_com_desconto

valor1 = calcular_desconto(100) # Não aplicar nenhum desconto
valor2 = calcular_desconto(100, 0.25) # Aplicar desconto de 25%

print(f"\nPrimeiro valor a ser pago = {valor1}")
print(f"\nSegundo valor a ser pago = {valor2}")

Primeiro valor a ser pago = 100

Segundo valor a ser pago = 75.0

In [ ]:
def cadastrar_pessoa(nome, idade, cidade):
    print("\nDados a serem cadastrados:")
    print(f"Nome: {nome}")
    print(f"Idade: {idade}")
    print(f"Cidade: {cidade}")
cadastrar_pessoa("João", 23, "São Paulo")
cadastrar_pessoa("São Paulo", "João", 23)

Dados a serem cadastrados:
Nome: João
Idade: 23
Cidade: São Paulo

Dados a serem cadastrados:
Nome: São Paulo
Idade: João
Cidade: 23

In [ ]:
def converter_maiuscula(texto, flag_maiuscula):
    if flag_maiuscula:
        return texto.upper()
    else:
        return texto.lower()
texto = converter_maiuscula(flag_maiuscula=True, texto="João") # Passagem nominal de parâmetros
print(texto)

JOÃO

In [ ]:
def converter_minuscula(texto, flag_minuscula=True): # O parâmetro flag_minuscula possui True como valor default
    if flag_minuscula:
        return texto.lower()
    else:
        return texto.upper()
texto1 = converter_minuscula(flag_minuscula=True, texto="LINGUAGEM de Programação")
texto2 = converter_minuscula(texto="LINGUAGEM de Programação")
print(f"\nTexto 1 = {texto1}")
print(f"\nTexto 2 = {texto2}")

Texto 1 = linguagem de programação

Texto 2 = linguagem de programação

In [ ]:
def imprimir_parametros(*args):
    qtde_parametros = len(args)
    print(f"Quantidade de parâmetros = {qtde_parametros}")
    for i, valor in enumerate(args):
        print(f"Posição = {i}, valor = {valor}")    
print("\nChamada 1")        
imprimir_parametros("São Paulo", 10, 23.78, "João")
print("\nChamada 2")        
imprimir_parametros(10, "São Paulo")

Chamada 1
Quantidade de parâmetros = 4
Posição = 0, valor = São Paulo
Posição = 1, valor = 10
Posição = 2, valor = 23.78
Posição = 3, valor = João

Chamada 2
Quantidade de parâmetros = 2
Posição = 0, valor = 10
Posição = 1, valor = São Paulo

In [ ]:
def imprimir_parametros(**kwargs):
    print(f"Tipo de objeto recebido = {type(kwargs)}\n")
    qtde_parametros = len(kwargs)
    print(f"Quantidade de parâmetros = {qtde_parametros}")
    for chave, valor in kwargs.items():
        print(f"variável = {chave}, valor = {valor}")       
print("\nChamada 1")        
imprimir_parametros(cidade="São Paulo", idade=33, nome="João")
print("\nChamada 2")        
imprimir_parametros(desconto=10, valor=100)

Chamada 1
Tipo de objeto recebido = <class 'dict'>

Quantidade de parâmetros = 3
variável = cidade, valor = São Paulo
variável = idade, valor = 33
variável = nome, valor = João

Chamada 2
Tipo de objeto recebido = <class 'dict'>

Quantidade de parâmetros = 2
variável = desconto, valor = 10
variável = valor, valor = 100

In [ ]:
(lambda x: x + 1)(x=3)

4

In [ ]:
(lambda x, y: x + y)(x=3, y=2)

5

In [ ]:
somar = lambda x, y: x + y
somar(x=5, y=3)

8

In [ ]:
def calcular_valor(valor_prod, qtde, moeda="real", desconto=None, acrescimo=None):
    v_bruto = valor_prod * qtde
    
    if desconto:
        v_liquido = v_bruto - (v_bruto * (desconto / 100))
    elif acrescimo:
        v_liquido = v_bruto + (v_bruto * (acrescimo / 100))
    else:
        v_liquido = v_bruto
    
    if moeda == 'real':
        return v_liquido
    elif moeda == 'dolar':
        return v_liquido * 5
    elif moeda == 'euro':
        return v_liquido * 5.7
    else:
        print("Moeda não cadastrada!")
        return 0

    
valor_a_pagar = calcular_valor(valor_prod=32, qtde=5, desconto=5)
print(f"O valor final da conta é {valor_a_pagar}")

O valor final da conta é 152.0

In [ ]:
def calcular_valor(valor_prod, qtde, moeda="real", **kwargs):
    v_bruto = valor_prod * qtde
    
    if 'desconto' in kwargs:
        desconto = kwargs['desconto']
        v_liquido = v_bruto - (v_bruto * (desconto / 100))
    elif 'acrescimo' in kwargs:
        acrescimo = kwargs['acrescimo']
        v_liquido = v_bruto + (v_bruto * (acrescimo / 100))
    else:
        v_liquido = v_bruto
    
    if moeda == 'real':
        return v_liquido
    elif moeda == 'dolar':
        return v_liquido * 5
    elif moeda == 'euro':
        return v_liquido * 5.7
    else:
        print("Moeda não cadastrada!")
        return 0

    
valor_a_pagar = calcular_valor(valor_prod=32, qtde=5, desconto=5)
print(f"O valor final da conta é {valor_a_pagar}")

O valor final da conta é 152.0